{% extends 'base.html' %}

{% block content %}
    <form class="row mt-2 mb-2" action="{{ url("index:category", args=[category.id]) }}" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="col-md-12">
            {{ form.title }}
        </div>
        <div class="col-md-6 mt-2">
            {{ form.author }}
        </div>
        <div class="col-md-3 mt-2">
            {{ form.category }}
        </div>
        <div class="col-md-2 mt-2">
            {{ form.is_public }}
        </div>
        <div class="col-md-1 mt-2">
            <button class="btn btn-outline-success btn-block">Шукати</button>
        </div>

    </form>
    <p class="d-inline align-middle">Книги категорії {{ category.name }}</p>
    <hr>
    {% include 'book_table_view.html' %}

{% endblock %}